example/serverless.yml
service: subscriptionless-example
provider:
  name: aws
  stage: dev
  runtime: nodejs14.x
  iam:
    role:
      statements:
        - Effect: Allow
          Resource: '*'
          Action:
            - dynamodb:Query
            - dynamodb:Scan
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:DeleteItem
        - Effect: Allow
          Resource: '*'
          Action:
            - execute-api:*
        - Effect: Allow
          Resource: '*'
          Action:
            - states:StartExecution
            - states:StopExecution
  environment:
    SUBSCRIPTIONS_TABLE: subscriptions
    CONNECTIONS_TABLE: connections

plugins:
  - serverless-plugin-typescript
  - serverless-step-functions

functions:
  subscription:
    handler: src/handler.wsHandler
    environment:
      PING_STATE_MACHINE_ARN: ${self:resources.Outputs.PingStateMachine.Value}
    events:
      - websocket:
          route: $connect
      - websocket:
          route: $disconnect
      - websocket:
          route: $default

  snsEvent:
    handler: src/handler.snsHandler
    events:
      - sns: NEW_ARTICLE

  # Ping/pong functions
  ping:
    handler: src/handler.pingHandler

# Step function for server->client ping/pong (recommended)
stepFunctions:
  stateMachines:
    ping:
      events:
        - websocket:
            route: $connect
      definition:
        Comment: 'An example of the Amazon States Language using wait states'
        StartAt: Wait
        States:
          # Send ping to client
          Eval:
            Type: Task
            Resource: !GetAtt ping.Arn
            Next: Choose
          # Wait max-duration to see if client pongs
          Wait:
            Type: Wait
            SecondsPath: '$.seconds' # Ping timeout
            Next: Eval
          # Delay before sending next ping (interval = pingTimeout.Seconds + pingDelay.seconds)
          Choose:
            Type: Choice
            Choices:
              - Not:
                  Variable: '$.state'
                  StringEquals: 'ABORT'
                Next: Wait
            Default: End
          End:
            Type: Pass
            End: true

resources:
  Resources:
    # Table for tracking connections
    connectionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.CONNECTIONS_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
    # Table for tracking subscriptions
    subscriptionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.SUBSCRIPTIONS_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: topic
            AttributeType: S
          - AttributeName: connectionId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
          - AttributeName: topic
            KeyType: RANGE
        GlobalSecondaryIndexes:
          - IndexName: ConnectionIndex
            KeySchema:
              - AttributeName: connectionId
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
          - IndexName: TopicIndex
            KeySchema:
              - AttributeName: topic
                KeyType: HASH
            Projection:
              ProjectionType: ALL
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    # PingStepFunctionsStateMachineRole:
    #   Type: AWS::IAM::Role
    #   Properties:
    #     RoleName: RoleName

    #     AssumeRolePolicyDocument:
    #       Statement:
    #         - Effect: Allow
    #           Principal:
    #             Service:
    #               - states.amazonaws.com
    #           Action:
    #             - sts:AssumeRole

  extensions:
    PingStepFunctionsStateMachine:
      Properties:
        RoleArn: !GetAtt IamRoleLambdaExecution.Arn
      DependsOn:
        - IamRoleLambdaExecution

  Outputs:
    PingStateMachine:
      Value:
        Ref: PingStepFunctionsStateMachine
